main{
    position: relative;
    width:90%;
    height:700px;
    background-color: #c3d8e8;
    margin:auto;
}

body{
	 background-color: #c3d8e8;
}

#cabecalho{
	position:relative;
	width:100%;
	height:50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



#menu{
	position:relative;
	width:35%;
	height:auto;
	display:flex;
	align-itens:center;
	flex-direction:row;
	justify-content:space-around;
	padding-top:20px;
	padding-bottom:20px;
}
#menu a{
	font-size:12px;
	color:#666;
	text-decoration:none;
	font-family:arial;
	font-weight:bold;
}


.link1{
	width:100px;
	height:50px;
	
	}

.link2{
	border:1px solid #333;
	text-align:center;
	font-size:12px;
	color:#666;
	text-decoration:none;
	font-family:arial;
	width:100px;
	height:auto;
	
	padding-top:20px;
	padding-bottom:20px;
	font-weight:bold;
	}

    .link3, .link4{
	text-align:center;
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	font-family:arial;
	width:200px;
	height:auto;	
	background-color:#13615E;
	padding-top:20px;
	padding-bottom:20px;
	font-weight:bold;
	}

	.link4{
		width:150px;
		padding:20px;
		border-radius:10px;
	}





#logo{
	position:relative;
	width:30%;
	height:50px;
	text-align:center;
	}

#menu_direito{
	position:relative;
	width:45%;
	height:50px;
    display:flex;
	align-itens:center;
	flex-direction:row;
	justify-content:space-around;	
}

#meio{
	position:relative;
	width:100%;
	height:550px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

#lado_esquerdo{
	position:relative;
	width:50%;
	height:400px;
}

#titulo_meio{
	color:#666;
	height:160px;
	font-size:55px;
	}

#lado_esquerdo p{
	font-family:verdana;
	font-size:20px;	
	color:#999;
	height:100px;
	}



#lado_direito{
	position:relative;
	width:50%;
	height:400px;
	
}


#big_mood{
	position:relative;
	width:85%;
	height:330px;
	background-color:#FFE4E1;
	border-radius:3%;
	border:1px solid;
	padding:1%;
	}

#topo{
	position:relative;
	width:100%;
	height:auto;
	}

.direita{
	float:right;
	}


#big_mood h3{
	text-align:center;
	width:100%;
	height:auto;
	color:#FA8072;
	font-weight:bold;
	font-family:Arial;
	padding-top:20px;
	padding-bottom:20px;
	}


#shopping_cart{
	position:absolute;
	width:40%;
	height:230px;
	background-color:#FFF;
	border-radius:5%;
	border:2px solid;
	top:150px;
	left:260px;
	box-shadow: 5px 5px 5px #000;
	}

#shopping_cart p{
	width:96%;
	background-color:#F8F8FF;
	padding:2%;
	border-bottom:2px solid;
	}

#figura_cart{
	position:relative;
	width:96%;
	height:130px;
	background-color:#F8F8F9;
	}

#figura_cart img{
	width:100%;
	height:100%;
	}

#checkout{
	position:relative;
	width:70%;
	height:auto;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#13615E;
	color:#FFF;
	text-align:center;
	font-size:12px;
	margin:auto;
	border-radius:8%;
	}


#rodape{
	position:relative;
	width:100%;
	height:100px;
	background-color:#000;
}
