/* css reset */

*{
	border:0;
	margin:0;
	padding:0;
	}

@font-face{
	font-family:novafonte;
	src:url(fontes/LibreBaskerville-Regular.ttf);
	}
.texto{
	font-family:novafonte;
	font-size:50px;
	}

	body{
		background-color:#c3d8e8;
	}


main{
	position:relative;
	width:90%;
	height:700px;
	background-color:#c3d8e8;
	margin:auto;
	}

#cabecalho{
	position:relative;
	width:100%;
	height:50px;
	/*background-color:#FF0;*/
	display:flex;
	flex-direction: row;
	align-itens:center;
	justify-content: space-around;
	}

#menu_esquerdo{
	position:relative;
	width:35%;
	height:auto;
	/*background-color:#0F0;*/
	display:flex;
	align-itens:center;
	flex-direction:row;
	justify-content:space-around;
	padding-top:20px;
	padding-bottom:20px;
	}

#menu_esquerdo a{
	font-size:12px;
	color:#666;
	text-decoration:none;
	font-family:arial;
	font-weight:bold;
	}

#mail{
	position:relative;
	width:30%;
	height:50px;
	/*background-color:#F00;*/
	text-align:center;
	}


#menu_direito{
	position:relative;
	width:45%;
	height:50px;
	/*background-color:#00F;*/
	display:flex;
	align-itens:center;
	justify-content:space-around;
	}

.link1{
	width:100px;
	height:50px;
	float:left;
	}

#menu_direito img{
	width:100%;
	height:100%;
	}

.link2{
	border:1px solid #333;
	text-align:center;
	font-size:12px;
	color:#666;
	text-decoration:none;
	font-family:arial;
	width:100px;
	height:auto;
	float:left;
	padding-top:20px;
	padding-bottom:20px;
	font-weight:bold;
	}

.link3, .link4{
	text-align:center;
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	font-family:arial;
	width:200px;
	height:auto;
	float:left;
	background-color:#13615E;
	padding-top:20px;
	padding-bottom:20px;
	font-weight:bold;
	}
.link4{
	width:150px;
	/*height:auto;*/
	}


#miolo{
	position:relative;
	width:80%;
	height:400px;
	margin:auto;
	margin-top:200px;
	}

#lado_esquerdo{
	position:relative;
	width:50%;
	height:400px;
	float:left;
	display:flex;
	flex-direction: column;
	align-itens: center;
	justify-content:space-around;
	}

#titulo_meio{
	font-weight:bold;
	color:#666;
	height:180px;
	}

#lado_esquerdo p{
	font-family:verdana;
	font-size:20px;	
	color:#999;
	height:100px;
	}

#lado_direito{
	position:relative;
	width:50%;
	height:400px;
	/*background-color:#0FF;*/
	float:left;
	}

#big_mood{
	position:relative;
	width:85%;
	height:280px;
	background-color:#FFE4E1;
	border-radius:3%;
	border:1px solid;
	padding:1%;
	}

#topo{
	position:relative;
	width:100%;
	height:auto;
	}
.direita{
	float:right;
	}

#big_mood p{
	text-align:center;
	width:100%;
	height:auto;
	color:#FA8072;
	font-weight:bold;
	font-family:Arial;
	padding-top:20px;
	padding-bottom:20px;
	}

#figura{
	margin-left:30px;
	position:relative;
	}

#shopping_cart{
	position:absolute;
	width:40%;
	height:200px;
	background-color:#FFF;
	border-radius:5%;
	border:2px solid;
	top:150px;
	left:260px;
	box-shadow: 5px 5px 5px #000;
	}

#shopping_cart p{
	width:96%;
	background-color:#F8F8FF;
	padding:2%;
	border-bottom:2px solid;
	}

#figura_cart{
	position:relative;
	width:96%;
	height:130px;
	background-color:#F8F8F9;
	}

#figura_cart img{
	width:100%;
	height:100%;
	}

#checkout{
	position:relative;
	width:70%;
	height:auto;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#13615E;
	color:#FFF;
	text-align:center;
	font-size:12px;
	margin:auto;
	border-radius:8%;
	}
